<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Job List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
  
</head>
<body>

<!-- START OF NAVBAR MENU -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" th:href="@{/hr/createjob}">Create Job</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/job/jobs}">Job List</a>
    </li>
  </ul>
	<ul class="nav navbar-nav ml-auto">
		<li class="nav-item">
			<form th:action="@{/logout}" method="post">
				<button class="nav-link btn btn-danger" type="submit">Logout</button>
			 </form>
		</li>
	</ul>
</nav>
<!-- END OF NAVBAR MENU -->

<br>

<!-- START OF LIVE JOBS TABLE -->
<div class="container w-75 p-3">
  <h2>Jobs</h2>
  <p>You can see all jobs:</p>            
  <table th:if="${jobList != null && !jobList.isEmpty()}" class="table table-striped ">
    <thead>
      <tr>
        <th>job Title</th>
        <th>Last Application Date</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="job:${jobList}" th:if="${!job.getApplicantDate()}">
        <td th:text="${job.jobTitle}"></td>
        <td th:text="${job.lastApplication.getDate()+'/'+(job.lastApplication.getMonth()+1)+'/'+(job.lastApplication.getYear()+1900)}"></td>
        <td><a th:href="@{/job/details/{id}(id=${job.id})}" class="btn btn-primary">Details</a> </td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/hr/delete/{id}(id=${job.id})}"
											class="btn btn-primary"><span><i class="fa fa-trash"></i></span></a></td>
      	<td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/hr/update/{id}(id=${job.id})}"
											class="btn btn-primary"><span><i class="fa fa-edit"></i></span></a></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- END OF LIVE JOBS TABLE -->


<!-- START OF DEAD JOBS TABLE -->
<div class="container w-75 p-3" sec:authorize="hasRole('ROLE_ADMIN')">
  <h2>Dead Jobs</h2>
  <p>You can see all dead jobs:</p>            
  <table th:if="${jobList != null && !jobList.isEmpty()}" class="table table-striped ">
    <thead>
      <tr>
        <th>job Title</th>
        <th>Last Application Date</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="job:${jobList}" th:if="${job.getApplicantDate()}">
        <td th:text="${job.jobTitle}"></td>
        <td th:text="${job.lastApplication.getDate()+'/'+(job.lastApplication.getMonth()+1)+'/'+(job.lastApplication.getYear()+1900)}"></td>
        <td><a th:href="@{/job/details/{id}(id=${job.id})}" class="btn btn-primary">Details</a> </td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/hr/delete/{id}(id=${job.id})}"
											class="btn btn-primary"><span><i class="fa fa-trash"></i></span></a></td>
      	<td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/hr/update/{id}(id=${job.id})}"
											class="btn btn-primary"><span><i class="fa fa-edit"></i></span></a></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- END OF TABLE -->
</body>
</html>