<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>Login</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/login_style.css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<h2>Login Or Sign Up</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		
		<form name="s"  action="#" th:action="@{/signup}" method="POST" th:object="${user}">
			<h1>Create Account</h1>
			<fieldset>
				<input type="text" id="username" name="username" th:field="*{username}" placeholder="Username" /> 
				<input type="password" id="password" name="password" th:field="*{password}" placeholder="Password" />
				<button type="submit">SIGN UP</button>								
			</fieldset>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form name="f" th:action="@{/login}" method="post">
			<h1>Sign in</h1>
			<fieldset>
				<input type="text" id="username" name="username" placeholder="Enter Username" />
				<input type="password" id="password" name="password" placeholder="Enter Password" />
				<button type="submit">Sign In</button>
			</fieldset>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<script>

const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
</script>
</body>
</html>